/*para tirar as configurações padrão do navegador*/
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0%;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

/*barra inicial*/
.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: #2d2d29;
    height: 100px;
    display: flex; /**inicio de um flex-container**/
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    max-width: 223px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #fff;
}

.menu {
    justify-content: space-between;
}

/*apresentação*/
.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao h1{
    color: #215a6d;
    font-size: 28px;
    margin-bottom: 10px;
}

.btn { /*barra*/
    background-color: #215a6d;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*apresentação do site*/
.b-apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122a53;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #215a6d;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #2d2d29;
    width: 100%;
}

/*serviços oferecidos*/
#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item-servicos a{
    width: 120px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #2d2d29;
    font-size: 12px;
    font-weight: 700;
}

.item-servicos p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servicos img {
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 35px;
}

#planos h2 {
    color: #215a6d;
    font-size: 32px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #215a6d;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;    
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #215a6d;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #215a6d;
    margin-right: 5px;
}

footer {
    background-color: #2d2d29;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}

/*table*/
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

/*mobile*/
@media(max-width: 992px){
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        height: 50vh;
        width: 20px;
    }

    .apresentacao .texto-apresentacao {
        width: 100%;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servicos img {
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .list-planos .item-plano {
        max-width: 90%;
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
    }
}

